body {
	font-size: small;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	width: 960px;
	margin: 50px auto 50px auto;
}

h1, h2 {
	text-align: center;
	font-family: Papyrus, sans-serif;
	font-size: 2em;
	color: #005858;
}

h2 {
	text-align: center;
	font-family: Papyrus, sans-serif;
	font-size: 1.7em;
	color: black;
}

p {
	text-align: center;
	font-size: 18px;
	line-height: 1.6em;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
}

hr {
	line-style: dashed;
}

table {
	width: 100%;
}

td {
	text-align: center;
}

#logo {
	vertical-align: center;
}

.image {
	border: solid 2px black;
	width: 300px;
}

.large_image {
	border: solid 2px black;
	width: 600px;
}

#products_list {
	list-style-type: none;
	text-align: center;
	font-size: 1.7em;
	line-height: 1.7em;
	color: black;
	padding: 0;
}

.left_align {
	text-align: left;
}

#guarantee {
	line-height: 1.2em;
	font-style: italic;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	color: #005858;
}

#footer {
	color: #005858;
	font-size: 90%;
	text-align: center;
	line-height: 0.9em;
	margin: 50px auto auto auto;
}

a:link {
	color: #007e7e;
}

a:visited {
	color: #007e7e;
}

a:hover {
	color: black;
}
